
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat:400,700|Seymour+One&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}



.columns {
    display: flex;
    
}
.columns:after {
  content: "";
  display: table;
  clear: both;
}

.vertical-column{
    display: flex;
    flex-direction: column;
    
}

.column {
    margin: 10px ;
}


.lefttab{
    height: 100vh;
    width: 60%;
    background-color: WHITE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.righttab{
    height: 100vh;
    width: 40%;
    background-color: #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerdiv{
    margin: auto auto;
    display: flex;
    flex-direction: column;
    
    padding: 1.7em;
}
.centerhead{
     margin: 10px auto;
     font-size: 4em;
     color: #593E48;
}
.centertext{
     margin: 10px auto;
     color: #959595;
     font-size: 1.6em;
     text-align: center;
}



.regbutton{
    margin: 20px auto;
    background-color: inherit ;
    border: 2px #591B31 solid;
    border-radius: 4px;
    color: #591B31;
    font-family: 'Montserrat';
    padding: 0px 50px;
    height: 40px;

    transition: 0.3s;
    
}
.regbutton:hover {
  padding: 0px 70px;
  }



.loginbutton{
    margin: 7px auto;
    background-color: #591B31 ;
    border: 2px #591B31 solid;
    border-radius: 4px;
    color: #F2F2F2;
    font-family: 'Montserrat';
    
    height: 40px;
    width: 220px;
    transition: 0.3s;
    
}
.loginbutton:hover {
  background-color: #3C1120;
  }
  
.inputstyle{
    margin: 7px auto;
    background-color: #C4C4C4 ;
    border: 0px #591B31 solid;
    border-radius: 4px;
    color: white;
    font-family: 'Montserrat';
    padding: 0px 10px;
    height: 40px;
    width: 200px
    
}
.loginlabel{
    font-size: 2em;
    margin: 20px auto;
    color:#AD4268;
}

::placeholder { 
  color: white;
  
}

label{
    color: #591B31;
     text-align: center;
}


.buttonlink{
  text-decoration: none;
  color: #591B31;

}
