@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat:400,700|Seymour+One&display=swap');
/*
h1 - 48px
h2 - 36px
h3 - 28px
all other text - 21px

colors: 
   #588C94 
   #1D3C41
*/

/* Global styles  */

body {
    margin: 0;
    /* this font size will effect all elements (other than h1 -> h6) on the page */
    font-size: 21px;
    font-family: 'Montserrat';
}

/* ========
Typography 
======== */

h1 {
    font-size: 48px;
    font-family: 'Montserrat';
}

h2 {
    font-size: 36px;
    font-family: 'Montserrat';
}

h3 {
    font-size: 28px;
    font-family: 'Montserrat';
}

p{
    font-family: 'Montserrat';
}

/* ========
Layout 
======== */
span {
    width: 35px;
    height: 35px;
    display: block;
    background: #E5E5E5;
    border-radius: 50%;
    margin: auto 5px;
}
header {
    background-color: #929292;
    color: white;
    padding: 0;
    text-align: center;
}


.my-skills {
    
    color: #959595;
    padding:  0;
    
}



.columns {
    display: flex;
    
}
.columns:after {
  content: "";
  display: table;
  clear: both;
}

.vertical-column{
    display: flex;
    flex-direction: column;
    
}

.column {
    margin: 10px ;
}



.profile-tab{
    display: flex;
    background-color: #724F5B;
    padding: auto 30px;
    margin: 0px;
}



.create-button{
    background-color: #66D485 ;
    border: 0px;
    border-radius: 0px;
    color: #FFF;
    font-family: 'Montserrat';
    padding: 0px 10px;
    height: 40px;
    margin: auto 0px;
    margin: 5px;
    transition: 0.3s;
    
}
.create-button:hover {
  background-color: #591B31;
}



.tab {
   display: flex;
   background-color: #390F1E;
   
}




.tab button {
  background-color: #390F1E;
  color: #FFF;
  font-family: 'Montserrat';
  height: 50px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: auto;
  transition: 0.3s;
  align-self:  stretch;
  flex: 1;
  
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #591B31;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #591B31;
}



.exam-group{
    background-color: #E8E8E8;
    display: flex;
    border-bottom: 2px solid white;
}
.exam-group:hover{
    background-color: #DEDEDE;
}
.examgroupname{
    font-size: 2em;
    color: #AD4268; 
    font-weight:400;
    margin: 5px
}
.examgroupinfo{
    font-size: 15px;
    margin-left: 5px;
    
}
.egdata{
    color: #591B31;
    margin-left: 5px;
}

.examgroupinforight{
    font-size: 15px;
    color: #AD4268;
    margin-left: auto;
    margin-top: auto;
}
.delete{
    background-color: #CC8282;
    border: 0px;
    color: white;
    margin-top: 5px;
    height:20px;
    width:20px;
    margin-left: auto;
    border-radius: 0px;
    transition: 0.3s;
}
.delete:hover{
    background-color: #AF5A5A;
}




.exam{
    background-color: #591B31;
    display: flex;
    border-bottom: 1px solid #390F1E;
    border-top: 1px solid #390F1E;
}

.examtime{
    font-size: 2em;
    color: #C4C4C4; 
    font-weight:400;
    margin: 5px;
    
    
}
.examinfo{
    font-size: 15px;
    margin-left: 5px;
    color: #959595;
}
.edata{
    color: #C4C4C4;
    font-size: 15px;
    margin-left: 5px;
    
}




.edit-exam-button{
    background-color: #66D4BA;
    color: #390F1E;
    font-family: "Montserrat";
    border-radius: 0px;
    border: 0px;
    margin: 10px;
    padding: 10px;
    
}
.edit-exam-button:hover{
     background-color: #83FFE1;
}

.participantbox{
    background-color: #E5E5E5;
    border-bottom: 1px #BFBFBF;
    display: flex;
    padding: 3px;
}

.inputstyle{
    background-color: #724F5B;
    border: 0px;
    margin: auto 10px;
    margin-right: 5px; 
    color: white;
    font-family: "Montserrat";
    padding: 12px;
    border-radius: 0px; 
}
::placeholder{
    color:white;
}

#upcomingexams-div{
    visibility: visible;
}

#participants-div{
    visibility: visible;
}
#results-div{
    visibility: visible;
}