<html>

<head>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles/exam.css') }}">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/exam.css')  }}">

</head>

<body>

    <header>
        <div class="columns">
            <div class="columns">
            </div>
            <div style="flex: 1;"></div>
            <div class="columns">

                <div class="profile-tab">
                    <span></span>
                    <p style="padding: 5px; font-size: 0.7em;"> {{user.student_name}} #{{user.student_id}} </p>
                </div>
            </div>
        </div>
    </header>


    <div class="examnameholder">
        <p class="examname"> {{exam.exam_name}} </p>
    </div>
    {% set counter=0 %}
    {% if quiz is iterable %}
    <form action="{{url_for('exam', exam_id=exam.exam_id, student_id=user.student_id)}}" method='post'>
    {% for question, answers in quiz.items() %}

    {% set counter=counter+1 %}
    <div class="questionbox">
        <div>
            <div class="question">
                <p name="question" value="{{question.question_id}}">{{counter}}. {{question.question_text}}</p>
            </div>
                <div class="columns" style="margin: 0px auto; padding: 5px;">
                    <div style="flex: 1;"></div>

                    <div class="vertical-column">

                        <div class="columns">
                            <p class="answerletterstyle">a</p>
                            <div class="answerbox">
                                <p>{{answers[0].answer_text}}</p>
                            </div>
                            <input type="radio" id="answer-a" name={{question.question_id}} value="{{answers[0].answer_id}}" class="radiostyle"required>
                        </div>

                        <div>
                            <div class="columns">
                                <p class="answerletterstyle">b</p>
                                <div class="answerbox">
                                    <p>{{answers[1].answer_text}}</p>
                                </div>
                                <input type="radio" id="answer-b" name={{question.question_id}} value="{{answers[1].answer_id}}" class="radiostyle"required>
                            </div>
                        </div>

                    </div>
                    <div style="width: 5vw;"></div>
                    <div class="vertical-column" style="flex: 1;">
                        <div>
                            <div class="columns">
                                <p class="answerletterstyle">c</p>
                                <div class="answerbox">
                                    <p>{{answers[2].answer_text}}</p>
                                </div>
                                <input type="radio" id="answer-c" name={{question.question_id}} value="{{answers[2].answer_id}}" class="radiostyle"required>
                            </div>
                        </div>

                        <div>
                            <div class="columns">
                                <p class="answerletterstyle">d</p>
                                <div class="answerbox">
                                    <p>{{answers[3].answer_text}}</p>
                                </div>
                                <input type="radio" id="answer-d" name={{question.question_id}} value="{{answers[3].answer_id}}" class="radiostyle"required>
                            </div>
                        </div>

                    </div>

                    <div style="flex: 1;"></div>
                </div>

        </div>
    </div>


    </div>
    {% endfor %}
    {% endif %}

    
        <div class="columns" style="padding-bottom: 20px;" >
            <button name='submit' value='SUBMIT QUIZ'>SUBMIT QUIZ</button>

        </div>
    </form>
</body>

</html>