<html>
    <head>
        <link rel="stylesheet" href="exam.css">
    </head>
    <body>
        
     <header>
         <div class="columns">
         <div class="columns">
             
            <div class = "backtab">
                <p style = "padding: 5px; font-size: 0.7em;"> BACK TO HOME PAGE</p>
            </div>
         </div>
         <div style = "flex: 1;"></div>
         <div class="columns">
             
            <div class = "profile-tab">
                <span></span>
                <p style = "padding: 5px; font-size: 0.7em;"> Teacher Profile </p>
            </div>
         </div>
         </div>
     </header>
     <div class = "examnameholder">
        <p class = "examname"> Exam Name </p>
     </div>
     
     <div class = "questionbox">
         <div >
            <div class = "question">
                <p>1. What is the velocity of an unladen swallow?</p>
            </div>
            <div class = "columns" style = "margin: 0px auto; padding: 5px;" >
                            <div style = "flex: 1;"></div>
                            <div class = "vertical-column">
                                
                                
                                <div class = "columns">
                                    <p class = "answerletterstyle">a</p>
                                    <div class = "answerbox">
                                        <p>African or European?</p>
                                    </div>   
                                    <input type="radio" id="answer-a" name="a" value="a" class = "radiostyle">
                                </div>
                                <div>
                                    <div class = "columns">
                                    <p class = "answerletterstyle">a</p>
                                    <div class = "answerbox">
                                        <p>African or European?</p>
                                    </div>   
                                    <input type="radio" id="answer-a" name="a" value="a" class = "radiostyle">
                                </div>
                                </div>
                            </div>
                            
                            <div style = "width: 5vw;"></div>
                    <div class = "vertical-column" style = "flex: 1;">
                            <div>
                                    <div class = "columns">
                                        <p class = "answerletterstyle">a</p>
                                        <div class = "answerbox">
                                            <p>African or European?</p>
                                        </div>   
                                        <input type="radio" id="answer-a" name="a" value="a" class = "radiostyle">
                                    </div>
                            </div>
                            <div>
                                    <div class = "columns">
                                        <p class = "answerletterstyle">a</p>
                                        <div class = "answerbox">
                                            <p>African or European?</p>
                                        </div>   
                                        <input type="radio" id="answer-a" name="a" value="a" class = "radiostyle">
                                    </div>
                            </div> 
                        
                    </div>
                    <div style = "flex: 1;"></div>
                </div>
            </div>
         </div>
     </div>
     
     <div class = "columns" style = "padding-bottom: 20px;">
     <button>BACK</button>
     <button>NEXT QUESTION</button> 
     </div>  
    </body>
</html>