<html>
    <head>
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles/exam.css') }}">-->
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/exam.css')  }}">
  
    </head>
    <body>
        
     <header>
         <div class="columns">
         <div class="columns">
             
            <div class = "backtab">
                <p style = "padding: 5px; font-size: 0.7em;"> BACK TO HOME PAGE</p>
            </div>
         </div>
         <div style = "flex: 1;"></div>
         <div class="columns">
             
            <div class = "profile-tab">
                <span></span>
                <p style = "padding: 5px; font-size: 0.7em;"> {{student.name}} #{{student.id}} </p>
            </div>
         </div>
         </div>
     </header>


     <div class = "examnameholder">
        <p class = "examname"> Exam Name </p>
     </div>
     


     <p style = "color: #959595; text-align: center;"> {{timeleft}} remaining </p>

{% for question in quiz %}	

     <div class = "questionbox">
         <div >
            <div class = "question">
                <p>{{question.number}}. {{question.question}}</p>
            </div>
	 <form>
            <div class = "columns" style = "margin: 0px auto; padding: 5px;" >
                           <div style = "flex: 1;"></div>

                            <div class = "vertical-column">
                                
                                
                                <div class = "columns">
                                    <p class = "answerletterstyle">a</p>
                                    <div class = "answerbox">
                                        <p>{{question.answerA}}</p>
                                    </div>   
                                    <input type="radio" id="answer-a" name="foo" value="{}" class = "radiostyle">
                                </div>

                                <div>
                                       <div class = "columns">
                                       <p class = "answerletterstyle">b</p>
                                       <div class = "answerbox">
                                         <p>{{question.answerB}}</p>
                                       </div>   
                                       <input type="radio" id="answer-b" name="foo" value="b" class = "radiostyle">
                                       </div>
                                </div>
                           
                            </div>
                    		<div style = "width: 5vw;"></div>        
                       <div class = "vertical-column" style = "flex: 1;">
                            <div>
                                    <div class = "columns">
                                        <p class = "answerletterstyle">c</p>
                                        <div class = "answerbox">
                                            <p>{{question.answerC}}</p>
                                        </div>   
                                        <input type="radio" id="answer-c" name="foo" value="c" class = "radiostyle">
                                    </div>
                            </div>

                            <div>
                                    <div class = "columns">
                                        <p class = "answerletterstyle">d</p>
                                        <div class = "answerbox">
                                            <p>{{question.answerD}}</p>
                                        </div>   
                                        <input type="radio" id="answer-d" name="foo" value="d" class = "radiostyle">
                                    </div>
                            </div> 
                        
                    </div>

                    <div style = "flex: 1;"></div>
                </div>
	      </form>	 
            </div>
         </div>


     </div>
{% endfor %}
     
     <div class = "columns" style = "padding-bottom: 20px;">
     <button>SUBMIT QUIZ</button>
     
     </div>  
    </body>
</html>