<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div class = "columns">
            <div class ="lefttab">
                <div class= "innerdiv">
                    <p class = "centerhead"> Welcome</p>
                    <p class = "centertext">Don't have an account with us already?</p>
                    <button class = "regbutton"> REGISTER HERE </button>
                </div>
            </div>
            
            
            <div class = "righttab">
                <div class= "innerdiv">
                    <p class = "loginlabel"> Sign In</p>
                    <form>
                        <input class ="inputstyle" type="text" placeholder="E-mail"></input>
                        <input class ="inputstyle" type="text" placeholder="Password"></input>
                        <button class = "loginbutton"> LOG IN </button>
                    </form>
                </div>    
            </div>
        
    </body>
</html>
