<html>
    <head>
        <link rel="stylesheet" href="reg.css">
    </head>
    <body>
        <div class = "columns">
            <div class ="lefttab">
                <div class= "innerdiv">
                    
                    <p class = "centertext">Already have an account?</p>
                    <button class = "regbutton"> SIGN IN HERE </button>
                </div>
            </div>
            
            
            <div class = "righttab">
                <div class= "innerdiv" style = "width: 200px;">
                    <p class = "loginlabel">Register</p>
                   <form>
		    <input class ="inputstyle" type="text" placeholder="E-mail"></input>
                    <input class ="inputstyle" type="text" placeholder="Name"></input>
                    <input class ="inputstyle" type="text" placeholder="Surname"></input>
                    <input class ="inputstyle" type="text" placeholder="Password"></input>
                    <input class ="inputstyle" type="text" placeholder="Repeat Password"></input>
                    <input class ="inputstyle" type="text" placeholder="Date of Birth"></input>
                    <div class = "columns" style = "margin: 10px 0px;">
                    <input type="radio" id="examiner" name="gender" value="examiner">
                        <label for="examiner">Examiner</label><br>
                    <input type="radio" id="Student" name="gender" value="student">
                        <label for="Student">Student</label><br>
                    </div>
                    <button class = "loginbutton">REGISTER </button>
		   </form>
                </div>    
            </div>
        
    </body>
</html>
