<html>

<head>
  <title>Student Page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/studentpage.css')  }}">
  <!-- <link rel="stylesheet" href="../static/styles/studentpage.css"> -->
</head>

<body>

  <header>
    <div class="columns">

      <div class="profile-tab">
        {% block content %}
        <span></span>
        <p style="padding: 5px; font-size: 0.7em;"> {{user.student_name}} {{user.student_surname}} </p>
        <p style="padding: 5px; font-size: 0.7em;"> {{user.student_id}}</p>
        {% endblock %}
      </div>
      <button class="logoutbutton" name="buttonlougout" style="margin-left: auto">
        <a style="text-decoration: none; align-items: center;" href="/login">Log out</a>
      </button>
    </div>

  </header>

  <main>


    <div class="my-skills">
      <div class="columns">

        <div style="width: 60%">
          <div class="columns" style=" background-color: white;">
            <p style="margin: auto 10px;">Your Exam groups</p>

          </div>


          {% for group in examgroups %}
          <div class="exam-group">
            <div>
              <form
                action="{{ url_for('student', student_id=user.student_id, group_id=group.group_id, option=option) }}"
                method="post" style="margin: 0px;">

                <input class="examgroupname" name="GroupButton" type="submit" value="{{group.group_name}}"> </input>

              </form>
              <div class="columns">

                <div>
                  <p class="examgroupinfo">Examiner </p>
                  <p class="examgroupinfo">Group ID </p>
                </div>
                <div class="egdata">
                  <p class="examgroupinfo"> {{group.examiner_id}} {{group.examiner_name}} </p>
                  <p class="examgroupinfo"> {{group.group_id}} </p>
                </div>
              </div>
            </div>
            <div class="vertical-column" style="margin-left: auto; padding-right: 5px; ">

              <div style="flex-grow: 1"></div>
              <!-- <p class= "examgroupinforight">{{group.totalparticipants}} Participants</p>
                             <p class= "examgroupinforight">{{group.totalexams}} Exams Set</p> -->
            </div>

          </div>
          {% endfor %}
        </div>



        <div class="vertical-column" style="width: 40%">
          <!--right hand column-->

          <div class="tab">
            <form action="{{ url_for('student', student_id=user.student_id, group_id=group_id, option=option) }}"
              method="post" style="width: 100%; display: flex; margin: auto;">
              <!--tab buttons-->

              <button class="tablinks" type="submit" value="Upcoming Exams" name="btn-futureexams">Upcoming
                Exams</button>
              <button class="tablinks" type="submit" value="Results" name="btn-futureexams">Results</button>
            </form>
          </div>


          <!--EXPLANATION FOR TAB BUTTONS:
                    was hoping the above tabs would work by making the appropriate div for  the button that was clicked visible and the rest invisible, 
                    using a for loop in each div to show multiple boxes for that category, 
                    
                    I will leave one of each type of box to show what the end product will look like and where to put appropriate data, please delete these example boxes when you do not need them
                    
                    please refer to further comments to see where the different divs end and begin to toggle visibility when following tab buttons are clicked: 'participants', 'upcoming exams' and 'results'-->


          <!-----------------------------------------------------------START OF UPCOMING EXAM DIV-->
          <div id="upcomingexams-div">
            <!-- toggle visibility for this div tag -->



            <!--for loop to be used officially below-->
            {% if exams is iterable %}
            {% for exam in exams %}
            <div class="exam">

              <div class="vertical-column">
                <p class="examtime">{{exam.exam_date}} ({{exam.exam_time.strftime("%H:%M")}})</p>
                <p class="edata">{{exam.exam_name}}</p>
                <div style="flex-grow: 1"></div>
              </div>

              <div class="vertical-column" style="margin-left: auto; padding-right: 5px; ">

                <!-- <p class= "edata" style="margin-left: auto;">{{exam.time}}</p> -->
                <div style="flex-grow: 1"></div>
                <form action="{{ url_for('exam', student_id=user.student_id, exam_id=exam.exam_id) }}" method="get"
                  style="margin: 0px;">
                  <button class="edit-exam-button" name="btn-takeexam" value="TAKE EXAM"> TAKE EXAM</button>
                </form>
              </div>

            </div>

            {% endfor %}
            {% endif %}

          </div>
          <!---------------------------------------END OF ADD NEW EXAM DIV-->

          <!-----------------------------------------------------------------START OF RESULTS DIV-->
          <div id="results-div">
            <!-- toggle visibility for this div tag -->

            <!--RESULTS EXAMPLE BOX to delete-->

            <!--END of EXAMPLE BOX to delete-->
            {% if results is iterable%}
            {% for exam in results %}
            <div class="exam">

              <div class="vertical-column">
                <p class="examtime">{{exam.exam_date}} ({{exam.exam_time.strftime("%H:%M")}})</p>
                <p class="edata">{{exam.exam_name}}</p>
                <div style="flex-grow: 1"></div>

                <div class="columns">


                </div>
              </div>

              <div class="vertical-column" style="margin-left: auto; padding-right: 5px; ">
                <div>
                  <p class="examinfo">Points </p>
                </div>
                <div class="edata">
                  <p class="edata">{{grades[exam.exam_id]}}</p>
                </div>
                <div style="flex-grow: 1"></div>
                <!--opens a pop up box with participants and their scores (see design for details), if possible make it so that when a participant is clicked on in this pop up page, they can go to a 'review exam' page.-->
              </div>

            </div>

            {% endfor %}
            {% endif %}

          </div>
          <!-----------------------------END OF RESULTS DIV-->

        </div>

      </div> <!-- / columns -->
    </div> <!-- / my-skills -->

  </main>

</body>

</html>